*{
    margin: 0;
    font-family: sans-serif;
} 
.top{
    margin-left:850px;
    margin-right:60px;
    font-size:20px; 

    list-style: none;
    text-decoration:none;
}
.menu{
    margin-top:15px;
    margin-left:60px;
    height:45px;
    font-size:15px; 
    list-style: none;
    text-decoration:none;
}
.main{
    text-align: center;
    left:180px;
    font-size:30px;
}
.group{
    text-align: center;
    left:170px;
    font-size: 40px;
}
.paragraph{
    text-align:center;
    font-size: 15px;
    margin-left:200px;
    margin-right: 200px;
}
/* code ki veshi hlo?*/
.explare{
    text-align:center;
    border: 2px solid #FF900E;
    width:120px;
    height: 38px;
    border-radius:8px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 600px;
    margin-right:400px;
    color:white;
    background-color:#FF900E;
}
.img1{
    width:1040px;
    height: 620px;
    margin-right:120px;
    margin-left:140px;
    margin-top:25px;
    margin-bottom:10px;
}
.project{
    display: flexs;
    margin-left: 140px;
    float: left;
    margin-bottom:100px;
}
.work{
    margin-left: 880px;
    margin-top:240px;
    width:240px;
    height:15px;
    font-size:30px;
}
.passeages{
    margin-left: 880px;
    margin-bottom:380px;
    width: 340px;
    height:20px;
    margin-top:80px;
    font-size:15px;
}

/* code ki veshi hlo?*/

.explare-more{
    border: 2px solid #FF900E;
    text-align:center;
    width:115px;
    height:38px;
    border-radius:8px;
    margin-top:25px;
    margin-bottom:0px;
    color:white;
    background-color:#FF900E;
}
.presentation{
    margin-left: 110px;
    width: 320px;
    height:25px;
    font-size:24px;
}
.texts{
    margin-left:90px;
    margin-top:140px;
    width: 320px;
    height:20px;
    font-size:10px;
}
.marjin{
    margin-left: 93px;
    width:5px;
    height:80px;
    margin-top:-115px;
    background-color: #FF900E;
}
.cards{
    margin-top:0px;
    display:flex;
}
.card{
    margin-left: 80px;
    margin-top: 140px;
    margin-bottom: 20px;
    width:800px;
    height: 20px;
    font-size: 15px;
}
.font{
    margin-top: 90px;
    margin-left:80px;
    width:620px;
    height:20px;
    font-size:5px;
}


/* {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap:20px;
}
.card{
    display: grid;
    grid-template-rows: max-content 200px 1fr;
} */